<!DOCTYPE html>
<html lang="en">
	<head>
		
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<script src="https://kit.fontawesome.com/fdc2bb3f29.js" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="css/style.css">
		<title>Chat Page</title>
 
	</head>
	<body>
		<div class="join-container">
			<header class="join-header">
				<h1><i class="fa-regular fa-face-smile"></i> ChatCord</h1>
			</header>
			<main class="join-main">
				<form action="/chat">   
					<div class="form-control">
						<label for="username">Username</label>
						<input
							type="text"
							name="username"
							id="username"
							placeholder="Enter username..."
							required
						>
					</div>
					<div class="form-control">
						<label for="room">Room</label>
						<select name="room" id="room">
							<option value="Designers">Designers</option>
							<option value="Couturier">Couturier</option>
							
						</select>
					</div>
					<button type="submit" class="btn">Join Chat</button>
				</form>
			</main>
		</div>
	</body>
</html>